.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-box mat-form-field,
.form-box button {
  max-width: 400px;
  width: 100%;
  margin-bottom: 15px;
}

.form-box button {
  padding: 10px;
  box-sizing: border-box;
}
