mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
